google~=3.0.0
protobuf~=5.29.5
grpcio~=1.73.1
python-dotenv~=1.0.1
Faker~=25.8.0
grpcio-status~=1.66.2
requests~=2.32.3
pydantic~=2.10.6
PyJWT~=2.9.0
cryptography~=44.0.1
setuptools~=80.9.0
langchain-core~=0.3.74